.fade-in {
  animation: fadeIn 1.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img{
    view-timeline-name: --image;
    view-timeline-axis: aline;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 60%;
}